openapi: 3.0.0
paths:
  /public-api/v1.0/generations:
    post:
      operationId: PublicAPIController_createGenerationV1
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerationDto'
      responses:
        '201':
          description: ''
  /public-api/v1.0/generations/{id}:
    get:
      operationId: PublicAPIController_getGenerationStatusV1
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v1.0/themes:
    get:
      operationId: PublicAPIController_listThemesV1
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v1.0/folders:
    get:
      operationId: PublicAPIController_listFoldersV1
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v1.0/me:
    get:
      operationId: PublicAPIController_getMeV1
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v1.0/generations/details/{id}:
    get:
      operationId: PublicAPIController_getGenerationDetails
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v1.0/gammas/{gammaId}/archive:
    post:
      operationId: PublicAPIController_archiveGammaV1
      parameters: []
      responses:
        '201':
          description: ''
  /public-api/v1.0/generations/from-template:
    post:
      operationId: PublicAPIController_createFromTemplateGeneration
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FromTemplateGenerationDto'
      responses:
        '201':
          description: ''
  /public-api/v0.2/generations/generate-sync:
    post:
      operationId: PublicAPIController_generateFromTextV02
      parameters: []
      responses:
        '201':
          description: ''
  /public-api/v0.2/generations:
    post:
      operationId: PublicAPIController_createGenerationV02
      parameters: []
      responses:
        '201':
          description: ''
  /public-api/v0.2/generations/{id}:
    get:
      operationId: PublicAPIController_getGenerationStatusV02
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v0.2/me:
    get:
      operationId: PublicAPIController_getMeV02
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v0.2/themes:
    get:
      operationId: PublicAPIController_listThemesV02
      parameters: []
      responses:
        '200':
          description: ''
  /public-api/v0.2/folders:
    get:
      operationId: PublicAPIController_listFoldersV02
      parameters: []
      responses:
        '200':
          description: ''
  /public-api-keys/create:
    post:
      operationId: PublicApiKeysController_createApiKey
      parameters: []
      responses:
        '201':
          description: ''
  /public-api-keys/deactivate:
    post:
      operationId: PublicApiKeysController_deactivateApiKey
      parameters: []
      responses:
        '201':
          description: ''
info:
  title: Gamma Public API
  description: >-
    Public API for generating and managing Gamma presentations. Requires an API
    key for authentication.
  version: '1.0'
  contact: {}
tags:
  - name: public-api
    description: Public API endpoints for external integrations
servers:
  - url: https://api.gamma.app
    description: Production
  - url: https://api.staging.gamma.app
    description: Staging
components:
  securitySchemes:
    api-key:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication
  schemas:
    GenerationDto:
      type: object
      properties: {}
    FromTemplateGenerationDto:
      type: object
      properties: {}
