openapi: 3.0.0
paths:
  /v1.0/generations:
    post:
      operationId: createGeneration
      x-stability: stable
      summary: Create async generation
      description: >-
        Creates an asynchronous generation job from provided text input. Returns
        a generation ID that can be used to poll for status. See the
        [Quickstart](/) for a complete example.
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generation'
      responses:
        '200':
          description: Generation job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGenerationResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGenerationResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Invalid or missing API key
        '402':
          description: Insufficient credits
        '403':
          description: Access denied or feature not available
      tags:
        - public-api
      security:
        - api-key: []
  /v1.0/generations/{id}:
    get:
      operationId: getGenerationStatus
      x-stability: stable
      summary: Get generation status
      description: >-
        Retrieves the current status of a generation job. Poll this endpoint
        until status is "completed" or "failed". See [Async Patterns and
        Polling](/overview/async-patterns-and-polling) for full polling
        implementations.
      parameters:
        - name: id
          required: true
          in: path
          description: The unique generation ID returned from the create endpoint
          schema:
            example: abc123xyz
            type: string
      responses:
        '200':
          description: Generation status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationStatusResponse'
        '401':
          description: Invalid or missing API key
        '404':
          description: Generation not found
      tags:
        - public-api
      security:
        - api-key: []
  /v1.0/themes:
    get:
      operationId: listThemes
      x-stability: stable
      summary: List themes
      description: >-
        Lists all themes available to the workspace, including standard themes
        and custom workspace themes. See [Themes and Folders
        APIs](/overview/list-themes-and-list-folders-apis-explained).
      parameters:
        - name: query
          required: false
          in: query
          description: Search query to filter themes by name
          schema:
            example: corporate
            type: string
        - name: limit
          required: false
          in: query
          description: Maximum results to return (1-100)
          schema:
            minimum: 1
            maximum: 50
            example: 20
            type: number
        - name: after
          required: false
          in: query
          description: Pagination cursor from previous response
          schema:
            example: eyJpZCI6IjEyMyJ9
            type: string
      responses:
        '200':
          description: Themes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListThemesResponse'
        '401':
          description: Invalid or missing API key
      tags:
        - public-api
      security:
        - api-key: []
  /v1.0/folders:
    get:
      operationId: listFolders
      x-stability: stable
      summary: List folders
      description: >-
        Lists all folders the authenticated user is a member of within the
        workspace. See [Themes and Folders
        APIs](/overview/list-themes-and-list-folders-apis-explained).
      parameters:
        - name: query
          required: false
          in: query
          description: Search query to filter folders by name
          schema:
            example: marketing
            type: string
        - name: limit
          required: false
          in: query
          description: Maximum results to return
          schema:
            minimum: 1
            maximum: 50
            example: 20
            type: number
        - name: after
          required: false
          in: query
          description: Pagination cursor from previous response
          schema:
            example: eyJpZCI6IjEyMyJ9
            type: string
      responses:
        '200':
          description: Folders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFoldersResponse'
        '401':
          description: Invalid or missing API key
      tags:
        - public-api
      security:
        - api-key: []
  /v1.0/gammas/{gammaId}/archive:
    post:
      operationId: archiveGamma
      x-stability: stable
      summary: Archive a Gamma
      description: >-
        Archives a Gamma document. The operation is idempotent - archiving an
        already archived Gamma succeeds.
      parameters:
        - name: gammaId
          required: true
          in: path
          description: The unique ID of the Gamma to archive
          schema:
            example: gamma_abc123
            type: string
      responses:
        '200':
          description: Gamma archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveGammaResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveGammaResponse'
        '401':
          description: Invalid or missing API key
        '403':
          description: Access denied - edit permission required
      tags:
        - public-api
      security:
        - api-key: []
  /v1.0/generations/from-template:
    post:
      operationId: createFromTemplateGeneration
      x-stability: stable
      summary: Create generation from template
      description: >-
        Creates an asynchronous generation job from a template Gamma with
        variable substitution. See [Create from Template
        Parameters](/overview/create-from-template-api-parameters-explained).
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FromTemplateGeneration'
      responses:
        '200':
          description: Generation job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FromTemplateGenerationResponse'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FromTemplateGenerationResponse'
        '400':
          description: Invalid request or template not found
        '401':
          description: Invalid or missing API key
        '402':
          description: Insufficient credits
        '403':
          description: Feature not enabled for workspace
      tags:
        - public-api
      security:
        - api-key: []
info:
  title: Gamma Public API
  description: >-
    Public API for generating and managing Gamma presentations. Requires an API
    key for authentication.
  version: '1.0'
  contact: {}
tags:
  - name: public-api
    description: Public API endpoints for external integrations
servers:
  - url: https://public-api.gamma.app
    description: Production
components:
  securitySchemes:
    api-key:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for authentication
  schemas:
    TextMode:
      type: string
      description: How to interpret the input text
      enum:
        - generate
        - condense
        - preserve
    DocFormat:
      type: string
      description: Output format
      enum:
        - presentation
        - document
        - social
        - webpage
    CardSplit:
      type: string
      description: Content splitting strategy across cards
      enum:
        - inputTextBreaks
        - auto
    TextAmount:
      type: string
      description: Controls the amount of text generated per card
      enum:
        - brief
        - medium
        - detailed
        - extensive
    AILocale:
      type: string
      description: ISO language code for content generation
      enum:
        - en
        - en-gb
        - en-in
        - es
        - es-es
        - es-mx
        - es-419
        - ca
        - fr
        - zh-cn
        - zh-tw
        - ko
        - ja
        - ja-da
        - pt-br
        - pt-pt
        - de
        - it
        - ru
        - pl
        - uk
        - ro
        - hu
        - cs
        - el
        - tr
        - ar
        - ar-sa
        - he
        - fa
        - nl
        - sv
        - da
        - nb
        - fi
        - id
        - vi
        - hi
        - gu
        - mr
        - te
        - bn
        - ta
        - ur
        - kn
        - ml
        - th
        - sr
        - hr
        - sq
        - bg
        - sl
        - bs
        - mk
        - sw
        - ha
        - yo
        - tl
        - ms
        - kk
        - uz
        - af
        - lv
        - lt
        - et
        - is
        - cy
    TextOptions:
      type: object
      properties:
        amount:
          example: auto
          $ref: '#/components/schemas/TextAmount'
        tone:
          type: string
          description: The tone or writing style (e.g., professional, casual, academic)
          example: professional
          minLength: 0
          maxLength: 500
        audience:
          type: string
          description: Target audience description for tailored content
          example: marketing executives
          minLength: 0
          maxLength: 500
        language:
          example: en
          $ref: '#/components/schemas/AILocale'
    ImageSource:
      type: string
      description: Source for card images
      enum:
        - webAllImages
        - webFreeToUse
        - webFreeToUseCommercially
        - aiGenerated
        - pictographic
        - giphy
        - pexels
        - placeholder
        - noImages
        - themeAccent
    ImageOptions:
      type: object
      properties:
        model:
          type: string
          description: >-
            AI model for image generation. Available models depend on your plan.
            See [Image model accepted values](/accepted-values/image-model-accepted-values)
            for all models with plan requirements and credits.
          example: flux-kontext-fast
          enum:
            - dall-e-3
            - imagen-3-flash
            - imagen-3-pro
            - imagen-4-fast
            - imagen-4-pro
            - imagen-4-ultra
            - playground-3
            - ideogram-v2
            - ideogram-v2-turbo
            - ideogram-v2a
            - ideogram-v2a-turbo
            - ideogram-v3
            - ideogram-v3-turbo
            - ideogram-v3-quality
            - ideogram-v3-flash
            - flux-1-schnell
            - flux-1-pro
            - flux-1-quick
            - flux-1-ultra
            - flux-kontext-pro
            - flux-kontext-max
            - flux-kontext-fast
            - leonardo-phoenix
            - recraft-v3
            - recraft-v3-svg
            - recraft-v4
            - recraft-v4-svg
            - recraft-v4-pro
            - luma-photon-1
            - luma-photon-flash-1
            - gpt-image-1-low
            - gpt-image-1-medium
            - gpt-image-1-high
            - gpt-image-1-mini-low
            - gpt-image-1-mini-medium
            - gpt-image-1-mini-high
            - qwen-image
            - qwen-image-fast
            - gemini-2.5-flash-image
            - veo-3.1-fast
            - veo-3.1
            - luma-ray-2-flash
            - luma-ray-2
            - leonardo-motion-2-fast
            - leonardo-motion-2
            - gemini-3-pro-image
            - gemini-3-pro-image-hd
            - gemini-3.1-flash-image-mini
            - gemini-3.1-flash-image
            - gemini-3.1-flash-image-hd
            - flux-2-pro
            - flux-2-flex
            - flux-2-max
            - flux-2-klein
        style:
          type: string
          description: >-
            Style description for AI-generated images. See
            [Image URL Best Practices](/overview/image-url-best-practices).
          example: photorealistic, professional
          minLength: 0
          maxLength: 500
        source:
          example: aiGenerated
          $ref: '#/components/schemas/ImageSource'
    CardDimensions:
      type: string
      description: Card dimensions/aspect ratio
      enum:
        - fluid
        - 16x9
        - 4x3
        - pageless
        - letter
        - a4
        - 1x1
        - 4x5
        - 9x16
    HeaderFooterElementType:
      type: string
      description: Type of element to display
      enum:
        - cardNumber
        - image
        - text
    HeaderFooterElement:
      type: object
      properties:
        type:
          example: text
          $ref: '#/components/schemas/HeaderFooterElementType'
        source:
          type: string
          description: Source for the image element
          example: themeLogo
          enum:
            - themeLogo
            - custom
        src:
          type: string
          description: HTTPS URL for custom image
          example: https://example.com/logo.png
          minLength: 1
          maxLength: 2048
        value:
          type: string
          description: Text content to display
          example: Confidential
          minLength: 1
          maxLength: 500
        size:
          type: string
          description: Size of the image element
          example: md
          enum:
            - sm
            - md
            - lg
            - xl
      required:
        - type
    HeaderFooter:
      type: object
      properties:
        topLeft:
          description: Element in top-left position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        topCenter:
          description: Element in top-center position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        topRight:
          description: Element in top-right position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        bottomLeft:
          description: Element in bottom-left position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        bottomCenter:
          description: Element in bottom-center position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        bottomRight:
          description: Element in bottom-right position
          allOf:
            - $ref: '#/components/schemas/HeaderFooterElement'
        hideFromFirstCard:
          type: boolean
          description: Hide header/footer from first card
          example: true
        hideFromLastCard:
          type: boolean
          description: Hide header/footer from last card
          example: false
    CardOptions:
      type: object
      properties:
        dimensions:
          example: 16x9
          $ref: '#/components/schemas/CardDimensions'
        headerFooter:
          description: >-
            Header and footer configuration. See
            [Header and Footer Formatting](/overview/header-and-footer-formatting)
            for layout examples.
          allOf:
            - $ref: '#/components/schemas/HeaderFooter'
    WorkspacePermission:
      type: string
      description: Access level for workspace members
      enum:
        - edit
        - comment
        - view
        - noAccess
        - fullAccess
    ExternalPermission:
      type: string
      description: Access level for external users via shared link
      enum:
        - edit
        - comment
        - view
        - noAccess
    EmailPermission:
      type: string
      description: Permission level for email recipients
      enum:
        - edit
        - comment
        - view
        - fullAccess
    EmailOptions:
      type: object
      properties:
        recipients:
          description: List of email addresses to share with
          example:
            - user@example.com
          type: array
          items:
            type: string
        access:
          example: view
          $ref: '#/components/schemas/EmailPermission'
      required:
        - recipients
        - access
    SharingOptions:
      type: object
      properties:
        workspaceAccess:
          example: view
          $ref: '#/components/schemas/WorkspacePermission'
        externalAccess:
          example: noAccess
          $ref: '#/components/schemas/ExternalPermission'
        emailOptions:
          description: Email sharing configuration
          allOf:
            - $ref: '#/components/schemas/EmailOptions'
    ExportFormat:
      type: string
      description: Auto-export format after generation completes
      enum:
        - pptx
        - pdf
        - png
    Generation:
      type: object
      properties:
        inputText:
          type: string
          description: >-
            Input text for generation (topic, outline, or content). See
            [Generate API Parameters](/overview/generate-api-parameters-explained)
            for input strategies.
          example: Quarterly sales report for Q3 2024
          minLength: 1
          maxLength: 400000
        additionalInstructions:
          type: string
          description: Additional context or instructions for AI
          example: Focus on year-over-year growth metrics
          minLength: 0
          maxLength: 5000
        textMode:
          example: generate
          $ref: '#/components/schemas/TextMode'
        format:
          example: presentation
          $ref: '#/components/schemas/DocFormat'
        numCards:
          type: number
          description: >-
            Target number of cards to generate. Limits vary by plan — see
            [Access and Pricing](/overview/access-and-pricing).
          example: 10
          minimum: 1
        cardSplit:
          example: auto
          $ref: '#/components/schemas/CardSplit'
        themeId:
          type: string
          description: >-
            Theme ID to apply. Get IDs from
            [Themes and Folders APIs](/overview/list-themes-and-list-folders-apis-explained).
          example: theme_abc123
        textOptions:
          description: >-
            Text generation options. See
            [Generate API Parameters](/overview/generate-api-parameters-explained)
            for tone, audience, and language guidance.
          allOf:
            - $ref: '#/components/schemas/TextOptions'
        imageOptions:
          description: >-
            Image generation and selection options. See
            [Image model accepted values](/accepted-values/image-model-accepted-values)
            for all models with plan requirements and credits.
          allOf:
            - $ref: '#/components/schemas/ImageOptions'
        cardOptions:
          description: >-
            Card dimensions and layout options. See
            [Header and Footer Formatting](/overview/header-and-footer-formatting)
            for layout examples.
          allOf:
            - $ref: '#/components/schemas/CardOptions'
        sharingOptions:
          description: >-
            Sharing and permissions options. See
            [Generate API Parameters](/overview/generate-api-parameters-explained)
            for permission examples.
          allOf:
            - $ref: '#/components/schemas/SharingOptions'
        folderIds:
          description: >-
            Folders to add the generated Gamma to. Get IDs from
            [Themes and Folders APIs](/overview/list-themes-and-list-folders-apis-explained).
          example:
            - folder_abc
          maxItems: 10
          type: array
          items:
            type: string
        exportAs:
          description: >-
            Auto-export format. See
            [Async Patterns and Polling](/overview/async-patterns-and-polling)
            for downloading exports.
          example: pdf
          $ref: '#/components/schemas/ExportFormat'
      required:
        - inputText
        - textMode
    CreateGenerationResponse:
      type: object
      properties:
        generationId:
          type: string
          description: Unique generation job identifier for status polling
          example: abc123xyz
        warnings:
          type: string
          description: Warnings about ignored or adjusted request parameters
          example: Image model ignored when source is 'web'
      required:
        - generationId
    GenerationStatus:
      type: string
      description: Current status of the generation job
      enum:
        - pending
        - completed
        - failed
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error description
          example: Failed to generate content
        statusCode:
          type: number
          description: HTTP status code
          example: 500
      required:
        - message
        - statusCode
    CreditsResponse:
      type: object
      properties:
        deducted:
          type: number
          description: Credits deducted for this generation
          example: 10
        remaining:
          type: number
          description: Credits remaining in workspace after deduction
          example: 490
      required:
        - deducted
        - remaining
    GenerationStatusResponse:
      type: object
      properties:
        generationId:
          type: string
          description: Generation job identifier
          example: abc123xyz
        status:
          example: completed
          $ref: '#/components/schemas/GenerationStatus'
        gammaId:
          type: string
          description: File identifier for the generated Gamma
          example: 9xJZ8QmN2
        gammaUrl:
          type: string
          description: URL to view the generated Gamma
          example: https://gamma.app/docs/abc123
        error:
          description: Error details when status is "failed"
          allOf:
            - $ref: '#/components/schemas/ErrorResponse'
        exportUrl:
          type: string
          description: Download URL for exported file (PDF/PPTX)
          example: https://gamma.app/export/abc123.pdf
        credits:
          description: Credit deduction details
          allOf:
            - $ref: '#/components/schemas/CreditsResponse'
      required:
        - generationId
        - status
    ThemeType:
      type: string
      description: Source of the theme
      enum:
        - standard
        - custom
    ThemeItem:
      type: object
      properties:
        id:
          type: string
          description: Unique theme identifier
          example: theme_abc123
        name:
          type: string
          description: Theme display name
          example: Corporate Blue
        colorKeywords:
          description: Color-related keywords
          example:
            - blue
            - professional
            - modern
          type: array
          items:
            type: string
        toneKeywords:
          description: Tone/style keywords
          example:
            - formal
            - business
          type: array
          items:
            type: string
        type:
          example: standard
          $ref: '#/components/schemas/ThemeType'
      required:
        - id
        - name
        - type
    ListThemesResponse:
      type: object
      properties:
        data:
          description: List of themes
          type: array
          items:
            $ref: '#/components/schemas/ThemeItem'
        hasMore:
          type: boolean
          description: Whether more results are available
          example: true
        nextCursor:
          type: string
          nullable: true
          description: Cursor for next page, null if no more results
          example: eyJpZCI6IjQ1NiJ9
      required:
        - data
        - hasMore
    FolderItem:
      type: object
      properties:
        id:
          type: string
          description: Unique folder identifier
          example: folder_abc123
        name:
          type: string
          description: Folder display name
          example: Marketing Materials
      required:
        - id
        - name
    ListFoldersResponse:
      type: object
      properties:
        data:
          description: List of folders
          type: array
          items:
            $ref: '#/components/schemas/FolderItem'
        hasMore:
          type: boolean
          description: Whether more results are available
          example: true
        nextCursor:
          type: string
          nullable: true
          description: Cursor for next page, null if no more results
          example: eyJpZCI6IjQ1NiJ9
      required:
        - data
        - hasMore
    ArchiveGammaResponse:
      type: object
      properties:
        gammaId:
          type: string
          description: ID of the archived Gamma
          example: gamma_abc123
        archived:
          type: boolean
          description: Always true on success
          example: true
      required:
        - gammaId
        - archived
    FromTemplateImageOptions:
      type: object
      properties:
        model:
          type: string
          description: AI model for image generation
          example: flux-kontext-fast
          enum:
            - dall-e-3
            - imagen-3-flash
            - imagen-3-pro
            - imagen-4-fast
            - imagen-4-pro
            - imagen-4-ultra
            - playground-3
            - ideogram-v2
            - ideogram-v2-turbo
            - ideogram-v2a
            - ideogram-v2a-turbo
            - ideogram-v3
            - ideogram-v3-turbo
            - ideogram-v3-quality
            - ideogram-v3-flash
            - flux-1-schnell
            - flux-1-pro
            - flux-1-quick
            - flux-1-ultra
            - flux-kontext-pro
            - flux-kontext-max
            - flux-kontext-fast
            - leonardo-phoenix
            - recraft-v3
            - recraft-v3-svg
            - recraft-v4
            - recraft-v4-svg
            - recraft-v4-pro
            - luma-photon-1
            - luma-photon-flash-1
            - gpt-image-1-low
            - gpt-image-1-medium
            - gpt-image-1-high
            - gpt-image-1-mini-low
            - gpt-image-1-mini-medium
            - gpt-image-1-mini-high
            - qwen-image
            - qwen-image-fast
            - gemini-2.5-flash-image
            - veo-3.1-fast
            - veo-3.1
            - luma-ray-2-flash
            - luma-ray-2
            - leonardo-motion-2-fast
            - leonardo-motion-2
            - gemini-3-pro-image
            - gemini-3-pro-image-hd
            - gemini-3.1-flash-image-mini
            - gemini-3.1-flash-image
            - gemini-3.1-flash-image-hd
            - flux-2-pro
            - flux-2-flex
            - flux-2-max
            - flux-2-klein
        style:
          type: string
          description: Style description for AI-generated images
          example: photorealistic
          minLength: 0
          maxLength: 500
      x-stability: stable
    FromTemplateGeneration:
      type: object
      properties:
        prompt:
          type: string
          description: >-
            Text prompt describing the content to generate. See
            [Create from Template Parameters](/overview/create-from-template-api-parameters-explained).
          example: Q3 financial summary for investors
          minLength: 1
          maxLength: 400000
        gammaId:
          type: string
          description: >-
            File ID of the template Gamma (must have exactly one Page). See
            [Create from Template Parameters](/overview/create-from-template-api-parameters-explained)
            for how to find your template ID.
          example: gamma_abc123
        themeId:
          type: string
          description: >-
            Theme ID to apply. Get IDs from
            [Themes and Folders APIs](/overview/list-themes-and-list-folders-apis-explained).
          example: theme_xyz789
        imageOptions:
          description: Image generation options
          allOf:
            - $ref: '#/components/schemas/FromTemplateImageOptions'
        sharingOptions:
          description: >-
            Sharing and permissions options. See
            [Generate API Parameters](/overview/generate-api-parameters-explained)
            for permission examples.
          allOf:
            - $ref: '#/components/schemas/SharingOptions'
        folderIds:
          description: >-
            Folders to add the generated Gamma to. Get IDs from
            [Themes and Folders APIs](/overview/list-themes-and-list-folders-apis-explained).
          example:
            - folder_abc
          maxItems: 10
          type: array
          items:
            type: string
        exportAs:
          description: >-
            Auto-export format. See
            [Async Patterns and Polling](/overview/async-patterns-and-polling)
            for downloading exports.
          example: pdf
          $ref: '#/components/schemas/ExportFormat'
      x-stability: stable
      required:
        - prompt
        - gammaId
    FromTemplateGenerationResponse:
      type: object
      properties:
        generationId:
          type: string
          description: Generation job identifier for status polling
          example: gen_xyz789
        warnings:
          type: string
          description: Warnings about request processing
          example: Some template variables were not found
      x-stability: stable
      required:
        - generationId
